.in-navbar{
  background: #CA090E;
  border: 0;
  border-radius: 0;
  .navbar-brand{
    color: #fff;
  }
  .navbar-toggle .icon-bar {
    background:#fff;
  }
  .nav>li>a{
    color: #fff;
  }
  .nav>li>a:hover{
    color: orange;
    background: #CA090E;
  }
}